request/
.depend
.wg-file.el
/url/cache
/.emacs.desktop
/.session
/session.*
/custom.el
*.elc
CVS
.svn
*_flymake.el
*~
*.log
.bookmarks.el
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
\#*
/elpa
semanticdb/
*.swp
*~
abbrev_defs
/swank
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
emms/
tutorial/
/var
org-clock-save.el
.\#*
emms/
projectile-bookmarks.eld
history
projectile.cache
.orig
.unpacked
srecode-map.el
custom-set-variables.el
network-security.data
.last-package-update-day
.dir-locals.el
*.mp3
*.mp4
*.ogg
transient/
elpy/
bookmarks
cache/
*-mode/
eshell/